<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Test public component button</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../../../../public/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../../../../public/css/bootstrap-responsive.css">
    </head>

    <body>
        <div class="container"></div>
        <script src="../../../../public/js/jquery-1.9.1.min.js"></script>
        <script data-main="../js/button" src="../../../../public/js/require.js"></script>
    </body>
    </html>