<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Test public component table</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../../../../public/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../public/css/bootstrap-responsive.min.css">
    </head>

    <body>
        <div class="container"></div>
        <script data-main="../js/table" src="../../../../public/js/require.min.js"></script>
    </body>
    </html>